.mycontainer{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


html, body, body>div.fullpage{
  height:100%;
}

.center {
margin-left: auto;
margin-right: auto;
}
.center.navbar .nav,
.center.navbar .nav > li {
float:none;
display:inline-block;
*display:inline; /* ie7 fix */
*zoom:1; /* hasLayout ie7 trigger */
vertical-align: top;
}
.center.navbar-inner {
text-align:center;
}
.center .dropdown-menu {
text-align: left;
}
.navbar-inner {
margin: 0 auto;
font-family: Arial;
font-size: 16px;
}


.navbar .nav > li > a {
  color: white ;
}

.navbar .nav > li > a:hover {
  color: #666;
}

.navbar .nav .active > a {
  color: white;
}

.navbar .nav .active > a:hover {
  color: #666;
}

.navbar {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
 /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.wrapper-style3 {
padding-top: 20px;
padding-bottom: 20px;
background-color: #f4f4f4;
text-shadow: 1px 1px 0px #fff;
}
.wrapper {
font-family: Arial;
background-image: url('images/subtle_halftone.png');
box-shadow: 7px 7px 2px #888888;
border-radius: 20px;

}

.bg { 
  background: url(images/Until_the_Dark_flickr.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fixed {
    position: fixed; 
    top: 0; 
    height: 0px; 
    width: 100%;
    z-index: 1;
}
.border-img {
   padding:1px;
   border:2px solid #021a40;
   background-color: transparent;
}
